* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
html,
body {
  background-color: #d9e4f5;
  background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
  animation: gradient 10s linear infinite;
  animation-direction: alternate;
}
@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
header h1 {
  background-color: rgba(81, 203, 238, 1);
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 18px;
  margin: 0;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label,
input {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
label {
  font-weight: 400;
  color: #706f70;
  margin: 0;
  line-height: 40px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
textarea,
select {
  border: none;
  border-radius: 5px;
  border-color: rgba(81, 203, 238, 1);
  margin: 8px 0;
  padding: 18px 8px;
  width: 100%;
  box-shadow: 0 0 10px 0 rgba(81, 203, 238, 1);
  transition: box-shadow 500ms;
}

input:hover,
textarea:hover {
  box-shadow: 0 10px 50px 0 rgba(81, 203, 238, 1);
}

.border1 {
  height: auto;
  border-bottom: 3px solid black;
  padding: 1px;
  margin-top: 15px;
}

.border2 {
  height: auto;
  border-bottom: 2px solid black;
  padding: 1px;
}

form {
  padding: 6px;
}

select {
  color: black;
}

header,
h1 {
  text-align: center;
}

hr {
  border-top: 8px double #333;
  color: #333;
  overflow: visible;
}

h2 {
  font-size: 20px;
}

#zip {
  width: 50%;
}
legend {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  color: #2f3944;
}
.newsletter {
  padding-top: 15px;
  font-weight: 300;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 0 6px 8px 0;
}
fieldset {
  margin: 0;
  border: 0;
}

button {
  background-color: rgba(81, 203, 238, 1);
  border: none;
  color: white;
  border-radius: 5px;
  width: 100%;
  padding: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
}

button:hover {
  opacity: 0.6;
}
::placeholder {
  text-align: right;
  color: #746969;
  font-style: italic;
}

footer {
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}
.top {
  font-weight: lighter;
  display: flex;
  flex-direction: column;
}
.top-zip label {
  display: block;
}

#state {
  font-size: 17px;
  overflow: hidden;
}
select:invalid {
  text-align: left;
  background-color: red;
}
/* Media Query */

@media (min-width: 768px) {
  main {
    max-width: 600px;
    margin: 0 auto;
  }

  .top,
  .top-zip {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .top label,
  .top-zip label {
    flex-basis: 25%;
  }

  .top input,
  .top select {
    flex-basis: 75%;
  }

  #zip {
    width: 25%;
  }
}

.newsletter .row {
  justify-content: flex-start;
  width: auto;
  flex-basis: auto;
  display: flex;
}

.newsletter input {
  flex-basis: auto;
}
#field2 {
  justify-content: space-between;
}

textarea {
  height: 100px;
  width: 100%;
  border: none;
}
#bottom-section label {
  display: inline-block;
  padding: 10px;
}
.container {
  max-width: 100%;
  margin: 0 auto;
  border: 0;
}

main {
  margin: 0 auto;
}
section {
  text-align: center;
}
